*{
    box-sizing: border-box;
    margin: 0%;
}
.info{
    width: 100%;
    text-align: center;
    background:linear-gradient(black,rgb(133, 130, 130));
    box-shadow: 0px 10px 50px;
    color: white;
    margin-top: 25px;
}

.contenedor{
    background :linear-gradient(#1e0829, #b3aca4,#260d33);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    box-shadow: 0px  20px 19px rgba(112, 110, 110, 0.7);
    border-radius: 10px;
    transition: all 400ms ease;
    text-align: center;
}
.card-body a{
    color: #1e0829;
}
.card:hover{
    box-shadow: 15px  25px 15px rgba(4, 4, 4, 0.9);
    transform: translateY(-3%);
}
