.container-footer{
    width: 100%;
    height: 200px;
    margin-inline: auto;
    color: rgb(239, 241, 243);
}
.seccion1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 8px;
}
.seccion2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding-inline: 10px;
}
.contacto{
    width: 50%;
    text-align: center;
    background-color:#003f69;
    color: rgb(202, 204, 207);
    padding: 5px;
    border-radius: 15px;
}
.whatsapp-icon {
    font-size: 35px;
    color: rgb(6, 180, 6);
}
.telefono-icon{
    font-size: 30px;
    color: rgb(229, 238, 238);
}
.face{
    font-size: 50px;
}

.inst {
    font-size: 50px;
    color: rgb(199, 96, 11);
    margin-left: 8px;
   
}
